# 데이터 Load

In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv('C:/Users/onebe/PycharmProjects/pythonProject/df2040S.csv', encoding='UTF-8')


print(df.head())
print('------------')
print(df.shape)

                            샤프트바코드 OP20판정   OP20전장  OP20거리  OP20캡간  OP20좌1차피크  \
0  A021N565RB 259213 S0974A 240424     합격  117.303   -0.05  38.778    321.843
1  A021N565RB 259213 S1662A 240424     합격  117.406   -0.05  38.778    422.832
2  A021N565RB 259213 S1756A 240424     합격  117.406   -0.05  38.778    373.126
3  A021N565RB 259213 S1680A 240424     합격  117.919   -0.05  38.778    427.862
4  A021N565RB 259213 S0914A 240424     합격  117.200   -0.05  38.778    435.653

   OP20좌완료거리  OP20우1차피크  OP20우완료거리  passing_rate OP30판정   OP30전장  OP30거리  \
0      10.35    362.377      10.26          0.31     합격  124.106   0.042
1      10.35    390.188      10.26          0.59     합격  124.106   0.043
2      10.35    420.367      10.26          0.48     합격  124.106   0.048
3      10.35    419.380      10.26          0.48     합격  124.106   0.039
4      10.35    415.928      10.26          0.57     합격  124.106   0.039

   OP30캡간  OP30좌1차피크  OP30좌완료거리  OP30우1차피크  OP30우완료거리 OP40S판정
0    38.5    254.386       11.1    253.005     11.103      합격
1    38.5    265.371       11.1    252.281     11.103      합격
2    38.5    254.715       11.1    251.689     11.103      합격
3    38.5    290.894       11.1    277.935     11.103      합격
4    38.5    297.143       11.1    290.104     11.103      합격
------------
(729, 19)

In [5]:
#필요한 칼럼 정리

# df2 = df[['OP20전장','OP20거리','OP20캡간','OP20좌1차피크','OP20좌완료거리','OP20우1차피크',
#           'OP20우완료거리','OP30전장','OP30거리','OP30캡간','OP30좌1차피크','OP30좌완료거리','OP30우1차피크',
#           'OP30우완료거리','OP40S베어링거리','OP40S베어링쏠림량','OP40S스태킹깊이최소','OP40S스태킹깊이최대',
#           'OP40S스태킹가로폭최소','OP40S스태킹가로폭최대','OP40S스태킹세로폭최소','OP40S스태킹세로폭최대','OP40S스태킹형상최소',
#           'OP40S스태킹형상최대','OP40SB베어링거리','OP40SB베어링쏠림량','OP40SB스태킹깊이최소','OP40SB스태킹깊이최대',
#           'OP40SB스태킹가로폭최소','OP40SB스태킹가로폭최대','OP40SB스태킹세로폭최소','OP40SB스태킹세로폭최대','OP40SB스태킹형상최소',
#           'OP40SB스태킹형상최대','OP40S요크깊이편차','OP40SC요크깊이편차','OP40STTA1CW최소','OP40STTA1CW최대','OP40STTA1CCW최소',
#           'OP40STTA1CCW최대','OP40STTA2CW최소','OP40STTA2CW최대','OP40STTA2CCW최소','OP40STTA2CCW최대','OP40S전류최대']]

df2 = df[['OP20전장','OP20거리','OP20캡간','OP20좌1차피크','OP20좌완료거리','OP20우1차피크',
          'OP20우완료거리','OP30전장','OP30거리','OP30캡간','OP30좌1차피크','OP30좌완료거리','OP30우1차피크',
          'OP30우완료거리']]

df2

,OP20전장,OP20거리,OP20캡간,OP20좌1차피크,OP20좌완료거리,OP20우1차피크,OP20우완료거리,OP30전장,OP30거리,OP30캡간,OP30좌1차피크,OP30좌완료거리,OP30우1차피크,OP30우완료거리
0,117.303,-0.05,38.778,321.843,10.35,362.377,10.26,124.106,0.042,38.5,254.386,11.1,253.005,11.103
1,117.406,-0.05,38.778,422.832,10.35,390.188,10.26,124.106,0.043,38.5,265.371,11.1,252.281,11.103
2,117.406,-0.05,38.778,373.126,10.35,420.367,10.26,124.106,0.048,38.5,254.715,11.1,251.689,11.103
3,117.919,-0.05,38.778,427.862,10.35,419.380,10.26,124.106,0.039,38.5,290.894,11.1,277.935,11.103
4,117.200,-0.05,38.778,435.653,10.35,415.928,10.26,124.106,0.039,38.5,297.143,11.1,290.104,11.103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,117.406,-0.05,38.778,427.171,10.35,408.926,10.26,124.106,0.028,38.5,218.339,11.1,233.074,11.103
725,117.200,-0.05,38.778,429.341,10.35,387.723,10.26,124.106,0.023,38.5,232.613,11.1,229.390,11.103
726,116.585,-0.05,38.778,440.584,10.35,400.445,10.26,124.007,0.028,38.5,264.516,11.1,289.907,11.103
727,116.585,-0.05,38.778,452.123,10.35,387.920,10.26,124.206,0.027,38.5,199.789,11.1,206.367,11.103
728,116.585,-0.05,38.778,393.640,10.35,368.097,10.26,124.106,0.028,38.5,216.366,11.1,246.164,11.103

In [6]:
# 종속 및 독립 변수 정의
x = df2.iloc[:, :14]
#y = df2.iloc[:, 14:45]


print(x.shape)
#print(y.shape)

(729, 14)

# 로드한 모델 사용해보기

In [7]:
#Module

from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [8]:
import joblib
from sklearn.pipeline import Pipeline
from sklearn.compose import TransformedTargetRegressor

# 모델 및 스케일러 불러오기
loaded_x_scaler, loaded_y_scaler, loaded_model = joblib.load('mlp_model_with_scalers.joblib')

C:\Users\onebe\anaconda3\Lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator StandardScaler from version 1.0.2 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\onebe\anaconda3\Lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator MLPRegressor from version 1.0.2 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [41]:
x_test_scaled = loaded_x_scaler.transform(x_test)
y_test_scaled = loaded_y_scaler.transform(y_test)

In [42]:
# 불러온 모델로 예측
x_test_new = loaded_x_scaler.transform(x_test)
predictions_scaled = loaded_model.predict(x_test_scaled)
predictions = loaded_y_scaler.inverse_transform(predictions_scaled)


print(predictions)

[[ 3.88533317e+01  9.67249346e-03  2.94094004e-01 ...  4.57361963e-02
   5.77645146e-02  5.57821598e-01]
 [ 3.88724315e+01  6.88718582e-02  2.79291824e-01 ...  3.11127315e-02
   4.25762946e-02  5.55183326e-01]
 [ 3.86841794e+01 -3.47547230e-02  2.98384416e-01 ...  3.54342645e-02
   5.02555592e-02  5.52777020e-01]
 ...
 [ 3.87385493e+01 -8.47679441e-02  3.49038388e-01 ...  2.49725215e-02
   4.26611446e-02  5.50870908e-01]
 [ 3.87247213e+01  4.81769964e-02  2.49238812e-01 ...  5.70489524e-02
   7.52511267e-02  5.58095463e-01]
 [ 3.87423969e+01  8.14018223e-02  2.39344949e-01 ...  4.42587751e-02
   5.98143795e-02  5.66070395e-01]]

In [9]:
# 불러온 모델로 예측
x_scaled = loaded_x_scaler.transform(x)
predictions_scaled = loaded_model.predict(x_scaled)
predictions = loaded_y_scaler.inverse_transform(predictions_scaled)


print(predictions)

[[ 3.89101026e+01  6.78907534e-02  2.48408421e-01 ...  1.77146312e-02
   3.14774286e-02  5.45860059e-01]
 [ 3.88130051e+01  1.05147093e-01  2.48545887e-01 ...  3.03287191e-02
   5.11113857e-02  5.48932119e-01]
 [ 3.88798572e+01  1.03017732e-01  2.47341951e-01 ...  2.43118572e-02
   4.13082000e-02  5.44516180e-01]
 ...
 [ 3.87538251e+01 -6.93014446e-03  2.53981121e-01 ...  3.16749320e-02
   5.69356222e-02  5.59095092e-01]
 [ 3.87731933e+01  5.07925855e-02  2.64363959e-01 ...  3.22643998e-02
   5.56249801e-02  5.57798162e-01]
 [ 3.88306327e+01  2.33600478e-02  2.61961592e-01 ...  2.37033466e-02
   4.27760423e-02  5.55740942e-01]]

In [46]:
# 성능 평가 (scaled)

mse_scaled = mean_squared_error(y_test_scaled, predictions_scaled)
mae_scaled = mean_absolute_error(y_test_scaled, predictions_scaled)

print(f'Scaled MSE:{mse_scaled}')
print(f'Scaled MAE:{mae_scaled}')

Scaled MSE:0.6698580870877758
Scaled MAE:0.4513313698217071

In [48]:
# 성능 평가 (unscaled)

predictions = loaded_y_scaler.inverse_transform(predictions_scaled)
mae_unscaled = mean_absolute_error(y_test, predictions)
mse_unscaled = mean_squared_error(y_test, predictions)

print(f'Unscaled MSE:{mse_unscaled}')
print(f'Unscaled MAE:{mae_unscaled}')

Unscaled MSE:2.586745939726214
Unscaled MAE:0.3053131569448326

# 새로운 데이터 넣어서 예측해보기

In [37]:
df_new = {'OP20전장':[115.765],'OP20거리':[0],'OP20캡간':[38.808],'OP20좌1차피크':[400],'OP20좌완료거리':[10.35],
          'OP20우1차피크':[415],'OP20우완료거리':[10.26],'OP30전장':[124.206],'OP30거리':[0.028],'OP30캡간':[38.59],
          'OP30좌1차피크':[240.77],'OP30좌완료거리':[11.1],'OP30우1차피크':[182.489],'OP30우완료거리':[11.1]}

In [38]:
df_new = pd.DataFrame(df_new)

In [39]:
df_new

,OP20전장,OP20거리,OP20캡간,OP20좌1차피크,OP20좌완료거리,OP20우1차피크,OP20우완료거리,OP30전장,OP30거리,OP30캡간,OP30좌1차피크,OP30좌완료거리,OP30우1차피크,OP30우완료거리
0,115.765,0,38.808,400,10.35,415,10.26,124.206,0.028,38.59,240.77,11.1,182.489,11.1

In [40]:
# 데이터 전처리 (스케일링)
x_new_scaled = loaded_x_scaler.transform(df_new)

# 예측 수행
predictions_scaled = loaded_model.predict(x_new_scaled)
predictions = loaded_y_scaler.inverse_transform(predictions_scaled)

# 예측 결과 출력
predictions_df = pd.DataFrame(predictions[0], columns=['predictions'])
predictions_df

    predictions
0     38.908028
1      0.199363
2      0.326285
3      0.609965
4      1.520241
5      1.592983
6      1.287299
7      1.754848
8     89.705242
9    100.467147
10    38.855119
11     0.276583
12     0.356023
13     0.588624
14     1.448534
15     1.684865
16     1.025196
17     1.555176
18    82.904569
19    96.060584
20     0.264525
21     0.152965
22     0.064238
23     0.150239
24     0.080962
25     0.131988
26     0.068303
27     0.112162
28     0.066932
29     0.090413
30     0.578913